html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

p {

  font-weight: 100;
}

h2 {
  text-align: center;
  margin: 0;
  padding-top: 50px;
}

* {
  box-sizing: border-box;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
}